* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --fs-body: 1.6rem;
  --ff-body: "Nunito", sans-serif;

  --fs-heading: 7.2rem;

  --hue: 358;
  --bg-body: hsl(var(--hue), 85%, 63%);
  --fc-text: hsl(var(--hue), 0%, 100%);
}

body {
  min-height: 100vh;
  background-color: var(--bg-body);
  font-size: var(--fs-body);
  font-family: var(--ff-body);
  color: var(--fc-text);
}

main {
  display: flex;
  /* width: 121.5rem; */
  height: 57.2rem;
  margin: 0 auto;
}

.text {
  display: grid;
  align-content: space-between;
}

.text h1 {
  font-size: var(--fs-heading);
  letter-spacing: -2%;
  line-height: 90%;
  width: 48.7rem;
  height: 19.5rem;
}